<h2>Current Lesson: {{current_term.lesson}}</h2>
<h3>What do you know about the <b>{{current_term.term}}</b><h3>
<textarea class="form-control" rows="5" placeholder="Take notes here to share your knowledge with other players." id="notes"></textarea>
<div id="understanding" style="margin-top: 20px">
  <button class="btn btn-danger" value=-1>I don't know this <span class="ct"></span></button>
  <button class="btn btn-warning" value=0>I sorta know this <span class="ct"></span></button>
  <button class="btn btn-success" value=1>I definitely know this <span class="ct"></span></button>
</div>
<button id="nextterm" class="btn btn-primary" style="display: none; margin-top: 20px">Next Term!</button>
<div id="education" style="display: none; margin-top: 15px">
  <!-- Nav tabs -->
  <div id="gamenotes" style="margin-bottom: 15px"></div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ed-diagrams" aria-controls="ed-diagrams" role="tab" data-toggle="tab">Diagrams</a></li>
    <li role="presentation"><a href="#ed-notes" aria-controls="ed-notes" role="tab" data-toggle="tab">Shared Notes</a></li>
    <li role="presentation"><a href="#ed-wikipedia" aria-controls="ed-wikipedia" role="tab" data-toggle="tab">Wikipedia</a></li>
    <li role="presentation"><a href="#ed-stats" aria-controls="ed-stats" role="tab" data-toggle="tab">Stats</a></li>
    <li role="presentation"><a href="#ed-cadaver" aria-controls="ed-cadaver" role="tab" data-toggle="tab">Cadavers</a></li>
    <!--<li role="presentation"><a href="#ed-info" aria-controls="ed-info" role="tab" data-toggle="tab">Other References</a></li>-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="ed-info">
      <br>
      <a href="https://en.wikipedia.org/w/index.php?search={{current_term.term}}" target="_blank">Reference Wikipedia</a>
      <br>
      <a href="https://www.google.com/search?tbm=isch&source=lnms&q={{current_term.term}} human anatomy" target="_blank">Google Images</a>
    </div>
    <div role="tabpanel" class="tab-pane active" id="ed-diagrams">
      {{#each current_term.diagram_list}}
        <img src="{{this}}" width="70%"/>
        <br><br>
      {{/each}}
      <a href="https://www.google.com/search?tbm=isch&source=lnms&q={{current_term.term}} human anatomy" target="_blank">More images...</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="ed-stats">
      <!-- Include barplot of confidence distributions here -->
      <h4>Distribution of All Player's Confidence Levels</h4>
      <div id="dist_graph"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="ed-wikipedia">
      <iframe src="https://en.wikipedia.org/w/index.php?search={{current_term.term}}" style="width: 100%; height: 500px;"></iframe>
    </div>
    <div role="tabpanel" class="tab-pane" id="ed-notes">
      <!-- Include notes with high confidence here -->
      <hr>
      {{#each ed_notes}}
      <div class="ed_notes">
        <div>
          <div class="vote roundrect" answerid={{this._id}}>
            <div class="increment unmarked up note_up" value=1></div>
            <div class="increment unmarked down note_down" value=-1></div>
            <div class="count">{{this.votes}}</div>
          </div>
        </div>
        <div style="padding: 0 15px 0 15px; font-size: 11pt;">
          {{this.notes}}
          <hr style="margin: 12px 0 2px 0;">
          <sub><i>Confidence: {{this.confidence_txt}}</i></sub>
          <br>
          <sub><i>Created on: {{this.timestamp}}</i></sub>
        </div>
      </div>
      <hr>
      {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane" id="ed-cadaver">
      <i style="font-size:14pt">Image results experimental:</i><br><br>
      {{#each current_term.cadaverimg_list}}
        <img src="{{this}}" width="70%"/>
        <br><br>
      {{/each}}
    </div>
  </div>
</div>
<script>
  $(function(){
    data =  {{{score_stats}}}
    var chart = c3.generate({

      bindto: '#dist_graph',
      data: {
        x: "x",
        type: "bar",
        columns: [
          ["x", "Don't Know", "Sorta Know", "Definitely Know"],
          ["Count", data["-1"], data["0"], data["1"]]
        ]
      },
      axis: {
          x: {
              type: 'category' // this needed to load string x value
          }
      }
    });
    chart.resize();
    $(window).resize()
  })
</script>
